<% require 'cgi' %>
<h1 class="text-center">メモ一覧</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col">投稿</th>
    <th scope="col">タイトル</th>
    <th scope="col">内容</th>
  </tr>
  </thead>
  <tbody>
  <% @memos.each do |memo| %>
    <tr>
      <td><a href="/memos/<%= memo[0] %>"><%= CGI.escapeHTML(memo[0]) %></a></td>
      <td><%= CGI.escapeHTML(memo[1]) %></td>
      <td><%= CGI.escapeHTML(memo[2]) %></td>
    </tr>
    <tr>
  <% end %>
</table>
<div>
  <a class="ms-4 btn btn-primary" href="/memos/new">メモを作成</a>
</div>
